.text-container-about {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 1em;
  width: 85%;
  min-width: 900px;
  max-width: 1500px;
  border-radius: 25px;
  height: 75vh;
  overflow: auto;
  z-index: 1;
  animation: fade 2s;
  flex-basis: content;
  justify-content: center;
}
.text-container-about p {
  margin: 5%;
  color: white;
}
.h1-about {
  margin: 5%;
  text-align: center;
  color: white;
}
@media (max-width: 1023px) {
  .text-container-about {
    min-width: 680px;
  }
}

@media (max-width: 768px) {
  .text-container-about {
    min-width: 350px;
  }
}
