* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

footer {
  background-color: #edf2f7;
  text-align: center;
  padding: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
